# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Local env files
.env
.env.local
.env*.local

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
